---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
import FuncDescription from "../components/FuncDescription.astro";
import Pros from "../components/Pros.astro";
import Collaborator from "../components/Collaborator.astro";
import TextInput from "../components/TextInput.astro";

import phone from "../assets/images/android.png";
import AnchorTag from "../components/AnchorTag.astro";
import Hives from "../assets/images/hives.png";
import HomePage from "../assets/images/home-page.png";
import Screenshots from "../assets/images/screenshots.png";
import FormImage from "../assets/images/form-image.png";
---

<Layout title="Zumbeedo">
  <main class="flex flex-col items-center">
    <div
      class="bg-gradient-to-r items-center flex flex-col w-full from-brand-600 via-primary-600 to-primary-700"
    >
      <header
        class="fixed bg-fixed z-20 bg-gradient-to-r from-brand-650 via-primary-650 to-primary-750 flex w-full justify-between px-16 py-5 border-b-2 border-white items-center flex-row"
      >
        <h1 class="text-2xl capitalize font-semibold text-secondary-200">
          Zumbeedo
        </h1>

        <nav class="hidden lg:block md:w-3/5 xl:w-2/5">
          <ul class="flex flex-row justify-between">
            <AnchorTag text="Home" link="#home" />
            <AnchorTag text="Sobre" link="#about" />
            <AnchorTag text="Equipe" link="#squad" />
            <AnchorTag text="Serviços" link="#services" />
            <AnchorTag text="Contato" link="#contact" />
            <AnchorTag text="Cadastre-se" link="#registry" />
          </ul>
        </nav>
      </header>

      <section id="home" class="w-3/5 2xl:w-2/5 flex pb-16 pt-28 gap-4">
        <div class="w-full md:w-1/2 h-auto md:flex flex-col justify-center">
          <p class="text-3xl pb-12">
            <span class="text-white">Um aplicativo inovador<br /></span> para monitorar
            e garantir o bem-estar contínuo das suas abelhas!
          </p>

          <button
            onclick="window.location.href='#registry'"
            class="text-white border-4 active:opacity-50 font-bold text-2xl border-white w-fit py-1 px-2"
            >Tenho interesse</button
          >
        </div>

        <div class="hidden md:block md:w-1/2">
          <Image src={phone} alt="app on smartphone" />
        </div>
      </section>
    </div>

    <!-- SOBRE -->
    <section id="about" class="w-full items-center 2xl:w-3/5 flex flex-col">
      <div
        class="flex flex-col gap-4 sm:flex-row justify-between p-16 w-11/12 shadow-2xl relative -top-10 bg-secondary-250"
      >
        <Pros
          icon="phone"
          title="Fácil usabilidade"
          description="Aplicativo fácil de usar no apiário mesmo com luvas e sem experiência com tecnologia."
        />

        <Pros
          icon="save-money"
          title="Baixo custo"
          description="Todas as funcionalidades no próprio celular sem a necessidade de aquisição de sensores."
        />

        <Pros
          icon="offline"
          title="Offline"
          description="Diagnostico da colmeia no seu apiário sem necessidade de conexão com Internet."
        />
      </div>

      <div class="pt-20">
        <h2 class="text-center text-2xl sm:text-3xl font-bold text-brand-700">
          Sobre o aplicativo
        </h2>
        <p class="text-sm sm:text-base text-center text-secondary-600 pt-2">
          Um aplicativo para monitorar e garantir o bem-estar<br />contínuo das
          suas abelhas.
        </p>
      </div>

      <div
        class="py-14 flex flex-row flex-wrap-reverse justify-between w-full xl:w-full px-14"
      >
        <div class="pr-10 w-full pt-4 lg:pt-0 lg:w-1/2">
          <p class="text-xl font-medium">Dê uma olhada no nosso App</p>
          <p class="text-base text-secondary-600">
            O Zumbeedo é uma aplicação móvel de baixo custo para a detecção
            automática da saúde de colmeias baseado no som produzido pelas
            abelhas, guiando os apicultores na intervenção prévia das colmeias
            em risco, aumentando a eficiência na produção.
          </p>

          <div class="pt-10">
            <div class="flex flex-row">
              <Icon icon="check" />
              <p class="text-brand-700 pl-2">Não invasivo.</p>
            </div>
            <div class="flex flex-row pt-4">
              <Icon icon="check" />
              <p class="text-brand-700 pl-2">Diagnóstivo offline.</p>
            </div>
            <div class="flex flex-row pt-4">
              <Icon icon="check" />
              <p class="text-brand-700 pl-2">Agilidade no monitoramento.</p>
            </div>
          </div>
        </div>
        <div
          class="w-full lg:w-1/2 flex pb-5 sm:pb-0 justify-center items-center"
        >
          <Image src={Hives} alt="hives" />
        </div>
      </div>
    </section>

    <!-- FUNÇÕES ESPECÍFICAS -->
    <section id="services" class="bg-secondary-400 w-full py-20 items-center">
      <div>
        <h2 class="text-center text-2xl sm:text-3xl font-bold text-brand-700">
          Funções específicas
        </h2>
        <p class="text-center text-sm sm:text-base text-secondary-600 pt-2">
          Ganhe controle total sobre seu apiário e transforme a maneira como <br
          />você organiza e gerencia suas colmeias.
        </p>
      </div>

      <div class="pt-12 flex flex-row flex-wrap justify-center items-center">
        <div class="sm:w-1/5 items-end flex flex-col">
          <FuncDescription
            side="right"
            title="Consulta da Colmeia"
            description="Ouça os sons das abelhas para avaliar a saúde da colmeia e realizar intervenções rápidas."
          />
          <FuncDescription
            side="right"
            title="Organizar Apiário"
            description="Cadastre e organize suas colmeias de forma eficiente em diferentes apiários, simplificando o gerenciamento em larga escala."
          />
          <FuncDescription
            side="right"
            title="Compartilhar Diagnóstico"
            description="Envie relatórios sobre a saúde das suas colmeias para parceiros."
          />
        </div>

        <div class="w-full sm:w-fit flex justify-center sm:px-12 lg-px-24">
          <Image
            class="h-[320px] sm:h-[490px] w-auto"
            src={HomePage}
            alt="Página inicial do app"
          />
        </div>

        <div class="sm:w-1/5 items-end flex flex-col pt-4 sm:pt-0">
          <FuncDescription
            title="Histórico"
            description="Mantenha um registro do progresso das colmeias ao longo do tempo para tomada de decisões informadas."
          />
          <FuncDescription
            title="Anotações com Áudio"
            description="Use o aplicativo para fazer anotações sobre as colmeias no apiário de forma rápida e sem interferência com áudio."
          />
          <FuncDescription
            title="Grupo com Parceiros"
            description="Colabore com outros apicultores em grupos, compartilhando experiências e estratégias para o sucesso coletivo."
          />
        </div>
      </div>
    </section>

    <!-- SCREENSHOTS -->
    <section class="bg-secondary-500 py-12 items-center">
      <div>
        <h2
          class="text-center text-2xl sm:text-3xl font-bold text-secondary-200"
        >
          Telas do Nosso App
        </h2>
        <p class="text-sm sm:text-base text-center text-secondary-250 pt-2">
          Confira capturas de tela abaixo e veja como nossa interface intuitiva <br
          />
          e funcionalidades simplificam o registro de colmeias, detecção de <br
          />
          saúde e gestão de apiários.
        </p>
      </div>

      <div class="pt-10 w-full">
        <Image
          class="px-6 sm:px-24 xl:px-52"
          src={Screenshots}
          alt="Páginas do app"
        />
      </div>
    </section>

    <!-- CADASTRO -->
    <section
      id="registry"
      class="py-16 items-center flex w-full flex-col bg-secondary-600"
    >
      <div>
        <h2
          class="text-center uppercase text-2xl sm:text-3xl font-bold text-secondary-200"
        >
          Faça seu cadastro
        </h2>
        <p
          class="text-center text-sm sm:text-base text-secondary-250 pt-2 pb-10"
        >
          Seja notificado quando o APP estiver disponível.
        </p>
      </div>

      <div
        class="flex flex-row w-4/5 lg:w-3/5 shadow-2xl shadow-brand-700 rounded-xl"
      >
        <div class="w-full md:w-1/2 py-6 px-6 md:px-11">
          <p class="uppercase text-xl font-bold text-secondary-250">
            Registre-se
          </p>
          <p class="text-base text-secondary-400 pb-6">
            Preencha os campos abaixo.
          </p>
          <form id="form" class="flex flex-col gap-5" method="POST">
            <TextInput type="text" label="Nome" name="username" />
            <TextInput type="email" label="E-mail" name="email" />
            <TextInput
              id="phone"
              type="text"
              maxlength={16}
              label="Telefone"
              name="phone"
            />
            <script>
              const input = document.getElementById("phone");

              input?.addEventListener(
                "keypress",
                () =>
                  ((input as HTMLInputElement).value = maskPhone(
                    (input as HTMLInputElement).value
                  ))
              );

              function maskPhone(v: string) {
                v = v.replace(/\D/g, ""); //Remove tudo o que não é dígito
                v = v.replace(/^(\d\d)(\d)/g, "($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
                v = v.replace(/(\(\d{2}\)) (\d)/g, "$1 $2 "); //Coloca um espaço entre o quarto e o quinto dígitos
                v = v.replace(/(\d{4})(\d)/, "$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
                return v;
              }
            </script>
            <button
              class="bg-secondary-400 py-2 w-fit text-brand-700 font-bold px-6 rounded flex items-center justify-center"
            >
              Submeter
            </button>
            <script>
              const form = document.getElementById("form");

              const onSubmit = async (event: SubmitEvent) => {
                event.preventDefault();
                const node = document.createElement("p");
                node.textContent = "Enviando...";
                node.classList.add(
                  "text-secondary-250",
                  "text-sm",
                  "font-bold"
                );
                form?.appendChild(node);
                try {
                  const data = (event?.target as HTMLFormElement)?.elements;
                  const name = (data.namedItem("username") as HTMLInputElement)
                    ?.value;
                  const email = (data.namedItem("email") as HTMLInputElement)
                    ?.value;
                  const phone = (data.namedItem("phone") as HTMLInputElement)
                    ?.value;

                  console.log("form", name, email, phone);

                  await fetch(
                    "https://zumbeedo-ai-api-homologacao.up.railway.app/early-access/",
                    {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify({ name, email, phone }),
                    }
                  );

                  node.textContent = "Enviado!";
                  node.classList.replace(
                    "text-secondary-250",
                    "text-green-400"
                  );
                } catch (error) {
                  node.textContent = "Erro! Tente novamente.";
                  node.classList.replace("text-secondary-250", "text-red-400");
                  if (error instanceof Error) {
                    console.error(error.message);
                  }
                } finally {
                  setTimeout(() => {
                    form?.removeChild(node);
                  }, 3000);
                }
              };

              form?.addEventListener("submit", (event) => onSubmit(event));
            </script>
          </form>
        </div>
        <div class="sm:w-1/2 relative hidden md:block">
          <Image
            class="absolute right-0 object-cover h-full w-full"
            src={FormImage}
            alt="usuário realizando cadastro"
          />
        </div>
      </div>
    </section>

    <!-- EQUIPE -->
    <section
      id="squad"
      class="bg-secondary-400 w-full items-center pt-10 pb-20"
    >
      <div>
        <h2 class="text-center text-2xl sm:text-3xl font-bold text-brand-700">
          Equipe
        </h2>
        <p class="text-center text-sm sm:text-base text-secondary-600 pt-2">
          Conheça nossa colmeia!
        </p>
      </div>

      <div class="sm:px-20 py-12">
        <Collaborator
          items={[
            {
              imgSrc: "/src/assets/images/collaborators/deborah.png",
              name: "Deborah Magalhães",
              role: "Pesquisadora em Processamento de Áudio",
              location: "Picos - PI",
            },
            {
              imgSrc: "/src/assets/images/collaborators/lana.png",
              name: "Lana Mesquita",
              role: "Gerente de Projetos",
              location: "Fortaleza - CE",
            },
            {
              imgSrc: "/src/assets/images/collaborators/fabia.png",
              name: "Fábia Pereira",
              role: "Pesquisadora em Apicultura",
              location: "Teresina - PI",
            },
            {
              imgSrc: "/src/assets/images/collaborators/jederson.png",
              name: "Jederson Luz",
              role: "Especialista em Inteligência Artificial",
              location: "Picos - PI",
            },
            {
              imgSrc: "/src/assets/images/collaborators/myllena.png",
              name: "Myllena Oliveira",
              role: "Especialista em Inteligência Artificial",
              location: "Picos - PI",
            },
            {
              imgSrc: "/src/assets/images/collaborators/adriano.png",
              name: "Adriano Sousa",
              role: "Desenvolvedor Mobile",
              location: "Acauã - PI",
            },
            {
              imgSrc: "/src/assets/images/collaborators/mayra.png",
              name: "Mayra Oliveira",
              role: "UX/UI Designer",
              location: "Picos - PI",
            },
          ]}
        />
      </div>
    </section>

    <!-- CONTATO -->
    <section
      id="contact"
      class="py-12 bg-red-250 items-center w-full flex flex-col"
    >
      <h2 class="text-center text-2xl sm:text-3xl font-bold text-brand-700">
        Contato
      </h2>
      <p class="text-xl pt-10 text-center px-4 text-secondary-600">
        Quer entrar em contato? Envie uma mensagem!
      </p>
      <a
        class="text-secondary-600 pt-12"
        target="_blank"
        href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=zumbeedoapp@gmail.com&su=Contato+Zumbeedo"
        >E-mail: <span class="underline">zumbeedoapp@gmail.com</span></a
      >
    </section>

    <footer class="py-16 items-center w-full bg-secondary-600 flex flex-col">
      <button
        id="scrollToTop"
        class="flex flex-row items-center py-2 px-4 bg-secondary-250"
      >
        <Icon icon="chevron-up" />
        <span class="pl-4 text-lg">Topo</span>
      </button>

      <script>
        const button = document.querySelector("#scrollToTop");

        button?.addEventListener("click", () =>
          window.scrollTo({
            top: 0,
            behavior: "smooth",
          })
        );
      </script>

      <div class="flex flex-row py-12 gap-8">
        <a target="_blank" href="https://www.instagram.com/zumbeedoapp/">
          <Icon icon="instagram" />
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/zumbeedo/">
          <Icon icon="linkedin" />
        </a>
      </div>
      <div>
        <p class="text-xl font-medium text-secondary-200">Zumbeedo</p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-sm font-light px-4 text-center text-secondary-250">
          © 2024 Zumbeedo. Todos os direitos reservados.
        </p>

        <p class="text-sm font-light px-4 text-center text-secondary-250">
          Desenvolvido por <a
            class="underline text-secondary-200"
            target="_blank"
            href="https://jederilson.dev">jederilson.dev</a
          >.
        </p>
      </div>
    </footer>
  </main>
</Layout>
